.nav {
  display: flex;
  gap: 0 10px;
  align-items: center;
  justify-content: center;

  padding-top: 30px;

  @media (width <= 768px) {
    gap: 0 3px;
  }
}

.nav_item {
  cursor: pointer;
  padding: 5px;
  background-color: #464646;
  border-radius: 50%;

  @media (width <= 768px) {
    padding: 3px;
  }

  @media (width <= 320px) {
    padding: 2px;
  }
}

.active {
  background-color: #fff;
}

.arrow {
  cursor: pointer;

  @media (width <= 768px) {
    font-size: 12px;
  }

  @media (width <= 320px) {
    font-size: 10px;
  }
}
