.menu_nav {
  display: flex;
  gap: 0 20px;
  align-items: center;

  @media (width <= 600px) {
    gap: 0 7px;
  }
}

.menu_btn {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 33px;
  height: 33px;

  border: 2px solid #fff;
  border-radius: 50%;

  @media (width <= 600px) {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
  }
}

.burger_content {
  position: absolute;
  top: 7px;
  left: 4px;

  display: flex;
  flex-direction: column;

  span {
    width: 20px;
    height: 2px;
    margin-bottom: 5px;

    background-color: #f8ffff;

    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

    @media (width <= 600px) {
      width: 10px;
      height: 1px;
      margin-bottom: 3px;
    }
  }

  @media (width <= 600px) {
    top: 4px;
    left: 4px;
  }
}

.menu_btn_active {
  border-color: #02e502;

  span {
    background-color: #02e502;
  }

  span:nth-of-type(1) {
    transform: rotate(45deg) translate(4px, 4px);
    width: 20px;
  }

  span:nth-of-type(2) {
    pointer-events: none;
    opacity: 0;
  }

  span:nth-of-type(3) {
    transform: rotate(-45deg) translate(6px, -6px);
    width: 20px;
  }

  @media (width <= 600px) {
    span:nth-of-type(1) {
      transform: rotate(45deg) translate(3px, 3px);
      width: 12px;
    }

    span:nth-of-type(3) {
      transform: rotate(-45deg) translate(3px, -3px);
      width: 12px;
    }
  }
}

.menu_img {
  @media (width <= 600px) {
    transform: scale(0.6);
  }
}
