@font-face {
  font-display: swap;
  font-family: RFRufo;
  font-style: normal;
  font-weight: 300;
  src: url('../../public/fonts/RFRufo-Light.ttf');
}

@font-face {
  font-display: swap;
  font-family: RFRufo;
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/RFRufo-Regular.ttf');
}

@font-face {
  font-display: swap;
  font-family: RFRufo;
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/RFRufo-Bold.ttf');
}
