.nav {
  position: absolute;
  z-index: 3;
  top: 83px;
  right: -15px;

  width: 270px;

  opacity: 0;
  background-color: #1e1f20;

  animation: slideIn 1s forwards;

  @media (width <= 768px) {
    top: 80px;
    width: 200px;
  }

  @media (width <= 600px) {
    top: 42px;
    width: 200px;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 0.95;
  }
}

.nav_content {
  display: flex;
  flex-direction: column;
  padding-top: 18px;

  @media (width <= 768px) {
    padding-top: 10px;
  }
}

.nav_link {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.nav_img {
  position: absolute;
  left: -20px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 5px;

  background-color: #1e1f20f2;
  border: 2px solid #fff;
  border-radius: 50%;

  @media (width <= 768px) {
    width: 25px;
    height: 25px;
    padding: 15px;
  }
}

.nav_text {
  margin: 20px 0;
  padding-left: 28px;
  font-size: 24px;
  line-height: 24px;

  &:hover {
    color: #02e502;
  }

  @media (width <= 768px) {
    margin: 10px 0;
    font-size: 18px;
    line-height: 18px;
  }
}

.nav_line {
  width: 227px;
  height: 1px;
  margin: 0 auto;
  background-color: #fff;

  @media (width <= 768px) {
    margin-top: 10px;
  }
}

.chats {
  display: flex;
  gap: 0 24px;
  align-items: center;
  justify-content: center;

  padding: 20px;

  @media (width <= 768px) {
    padding: 0;
  }
}

.chats_item {
  transform: scale(0.9);
}
